<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>kasnormegafeed</name>
	<displayName><![CDATA[Kasnor Mega Feed]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Module to synchronize Kasnor products in your store]]></description>
	<author><![CDATA[Prestaquality]]></author>
	<tab><![CDATA[administration]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
